.App {
  text-align: center;
}

.note {
  color: black;
  height: auto;
  border: solid;
  border-color: black;
  padding: 10px;
  padding-bottom: 20px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 500px;
}

textarea {
  width: 90%;
  resize: none;
  height: 130px;
  font-size: 18px;
}
 #header {
   font-size: 30px;
   font-family: courier;
   margin-top: 10px;
   font-weight: 600;
 }
.button-css {
  display: block;
  position: relative;
  border: solid;
  border-width: 2px;
  border-color: black;
  width: 200px;
  /* transform: translate(-50%, -50%); */
  padding: 5px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  cursor: pointer;
}

.delbutton {
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
